# Ignore all text files
*.txt
!requirements.txt
# Ignore all json files
*.json

# Ignore all jupyter notebook files
*.ipynb

# Ignore all sql files
script.sql

# Ignore all zip files
*.zip

workspace.code-workspace

test*